.nav {
    padding: 15px;
    height: 60px;
    width: 100%;
    display: flex;
    color: WHITE;
    justify-content: space-between;
    font-family: "Montserrat Alternates",
        sans-serif;
    font-weight: 600;
    font-style: normal;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    .MenuList {
        display: flex;
        width: 60%;
        justify-content: space-around;
        list-style: none;
        align-items: center;


        .MenuItem {
            cursor: pointer;




        }
    }

    .neonText {
        color: rgb(252, 141, 238);
        text-shadow:
            0 0 7px rgb(255, 21, 224),
            0 0 10px rgb(255, 125, 238),
            0 0 21px rgb(255, 21, 224),
            0 0 42px rgb(255, 21, 224),
            0 0 82px rgb(255, 21, 224),
            0 0 92px rgb(255, 21, 224),
            0 0 102px rgb(255, 21, 224),
            0 0 151px rgb(255, 21, 224);
    }

    .neonText2 {
        color: rgb(252, 141, 238);
        text-shadow:
            0 0 7px rgb(255, 21, 224),
            0 0 10px rgb(255, 125, 238),
            0 0 21px rgb(255, 21, 224),
            0 0 42px rgb(255, 21, 224),
            0 0 82px rgb(255, 21, 224),
            0 0 92px rgb(255, 21, 224),
            0 0 102px rgb(255, 21, 224),
            0 0 151px rgb(255, 21, 224);
    }
}